*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.principal{
    border: 1px solid black;
    margin: 0px auto;
    margin-top: 20px;
    width: 1200px;
}

#header{
    background-color: blue;
    width: 100%;
    height: 100px;
    color: white;
    text-align: center;
    line-height: 90px;
}
.clearfix{
    float: none;
    clear: both;
}
#menu ul li{
    /*display: inline-block;
*/
    display: block;
    float: left;
    border-right: 2px solid #cccccc;
}
#menu ul li a{
    display: block;
    padding: 15px;
    color: #444444;
}
#menu ul li:hover a{
    color: white;
}
#menu ul li:hover{
    background-color: rgb(20, 5, 153);
}
#contenido{
    width: 70%;
  
   float: left;
}
#lateral{
    float: left;
    width: 29%;
    border: 1px solid green;
    height: 500px;
    text-align: center;
}
#contenido > h1 {
    text-align: center;
    border-bottom: 1px solid #cccccc;
    padding: 15px;
    color: brown;
}
#contenido .caja{
    width: 40%;
    height: 250px;
    background-color: red;
    border: 4px solid blue;
    color: white;
    margin: 35px;
    float: left;
}
footer{
    width: 100%;
    background-color: #cccccc;
    height: 55px;
    line-height: 55px;
    text-align: center;
    color: #444;
    border-top: 1px solid red;

}
