*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul li{
    font-size: 25px;
}

ul li:first-child{
    color: blueviolet;
    font-weight: bold;
}
ul li:nth-child(2){
    color: chartreuse;
}

ul li:last-child{
    color: grey;
}
#mi-enlace{
    font-size: 30px;
    color: lightcoral;
}
#mi-enlace:link{
    color: red;
}
#mi-enlace:visited{
    color: orangered;
}
#mi-enlace:hover{
    color: blue;
}
#mi-enlace:active{
    color: green;
    font-family: 'Times New Roman', Times, serif;
}
input[type="text"]{
    margin-top: 20px;
    padding: 10px;
}
input[type="text"]:focus{
    border: 4px dashed red;
}