*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}
#contenedor {
    height: 1200px;
    border: 1px solid black;
    background-color: chartreuse;
    padding: 50px;

}

#contenedor h1{
    text-align: center;
    margin: 5px;
    padding: 5px;
}
header{
    width: 100%;
    font-size: 40px;
}
#menu ul li{
    float: left;
    margin-right: 20px;
    list-style: none;
}
.clearfix {
    float: none;
    clear: both;
}
